@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer components {
  /* nav styles */
  .nav {
    @apply shadow-sm border-b bg-white sticky top-0 z-50;
  }
  .navFlex {
    @apply flex justify-between items-center max-w-6xl sm:mx-5 lg:mx-auto;
  }
  .logo {
    @apply relative w-16 h-10 sm:w-28 sm:h-10 cursor-pointer;
  }
  .searchIcon {
    @apply absolute inset-y-0 pl-3 flex items-center pointer-events-none;
  }
  .searchInput {
    @apply bg-gray-50 block w-full pl-10 sm:text-sm border-gray-300 rounded-md focus:ring-black focus:border-black;
  }
  .navIcon {
    @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
  .notification {
    @apply absolute -top-1 -right-2 text-xs w-5 h-5 bg-red-500 rounded-full flex items-center justify-center animate-pulse text-white;
  }
  /* feed styles */
  .feedWrapper {
    @apply grid grid-cols-1 md:grid-cols-2 md:max-w-3xl xl:grid-cols-3 xl:max-w-6xl mx-auto;
  }
  .storyBar {
    @apply flex space-x-2 p-6 bg-white mt-8 border-gray-200 border rounded-sm overflow-x-scroll scrollbar-thin scrollbar-thumb-black;
  }
  .storyImg {
    @apply h-14 w-14 rounded-full p-[1.5px] border-red-500 border-2 object-contain cursor-pointer hover:scale-110 transition transform duration-200 ease-out;
  }
  .storyUsername {
    @apply text-xs w-14 truncate text-center;
  }

  .postImg {
    @apply rounded-full h-12 w-12 object-contain border p-1 mr-3;
  }
  .postIcons {
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }
  .postInput {
    @apply border-none flex-1 focus:ring-0 outline-none;
  }
  /* Modal */
  .modal {
    @apply flex items-end justify-center min-h-[800px] sm:min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0;
  }
  .modalDialog {
    @apply fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity;
  }
  .centeringModal {
    @apply hidden sm:inline-block sm:align-middle sm:h-screen;
  }
  .modalContentWrapper {
    @apply inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6;
  }
  .modalUpload {
    @apply mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100;
  }
  .modalButton {
    @apply inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm disabled:bg-gray-300 disabled:cursor-not-allowed hover:disabled:bg-gray-300;
  }
}
